<%- include('header', 
{user: data.user, 
notifications: data.user.notifications}) -%>
 <!-- content @s -->
 <div class="nk-content nk-content-lg nk-content-fluid">
    <div class="container-xl wide-lg">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head">
                    <div class="nk-block-head-content">
                        <div class="nk-block-head-sub"><span>My Plan</span></div>
                        <div class="nk-block-between-md g-4">
                            <div class="nk-block-head-content">
                                <h2 class="nk-block-title fw-normal">Invested Schemes</h2>
                                <div class="nk-block-des">
                                    <p>Here is your current balance and your active investement plans.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card card-bordered">
                        <div class="card-inner-group">
                            <div class="card-inner">
                                <div class="row gy-gs">
                                    <div class="col-lg-5">
                                        <div class="nk-iv-wg3">
                                            <div class="nk-iv-wg3-title">Total Balance</div>
                                            <div class="nk-iv-wg3-group  flex-lg-nowrap gx-4">
                                                <div class="nk-iv-wg3-sub">
                                                    <div class="nk-iv-wg3-amount">
                                                        <div class="number"><%= data.available_balance %>  <small class="currency currency-usd">BTC</small></div>
                                                    </div>
                                                    <div class="nk-iv-wg3-subtitle">Available Balance</div>
                                                </div>
                                                <div class="nk-iv-wg3-sub">
                                                    <span class="nk-iv-wg3-plus text-soft"><em class="icon ni ni-plus"></em></span>
                                                    <div class="nk-iv-wg3-amount">
                                                        <div class="number-sm"><%= data.total_invested %></div>
                                                    </div>
                                                    <div class="nk-iv-wg3-subtitle">Locked Balance <em class="icon ni ni-info-fill" data-bs-toggle="tooltip" data-bs-placement="right" title="You can't use"></em></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                    <div class="col-lg-7">
                                        <div class="nk-iv-wg3">
                                            <div class="nk-iv-wg3-title">This Month <em class="icon ni ni-info-fill" data-bs-toggle="tooltip" data-bs-placement="right" title="Current Month Profit"></em></div>
                                            <div class="nk-iv-wg3-group flex-md-nowrap g-4">
                                                <div class="nk-iv-wg3-sub-group gx-4">
                                                    <div class="nk-iv-wg3-sub">
                                                        <div class="nk-iv-wg3-amount">
                                                            <div class="number"> <%= data.this_month.investment_profit %> </div>
                                                        </div>
                                                        <div class="nk-iv-wg3-subtitle">Total Profit</div>
                                                    </div>
                           
                                                </div>
                                                <div class="nk-iv-wg3-sub flex-grow-1 ms-md-3">
                                                    <div class="nk-iv-wg3-ck">
                                                        <canvas class="chart-profit" id="profitCM"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             <% if(data.investments.items.length){ %>    <div class="nk-block nk-block-lg">
                    <div class="nk-block-head-sm">
                        <div class="nk-block-head-content">
                            <h5 class="nk-block-title">Active Plan <span class="count text-base">(<%= data.investments.items.length || 0 %>)</span></h5>
                        </div>
                    </div>
                    
                    <div class="nk-iv-scheme-list">
                        <% for (let investment of data.investments.items) { %>
                            <div class="nk-iv-scheme-item">
                                <div class="nk-iv-scheme-icon is-running">
                                    <em class="icon ni ni-update"></em>
                                </div>
                                <div class="nk-iv-scheme-info">
                                    <div class="nk-iv-scheme-name"><%= investment.plan_id %> </div>
                                    <div class="nk-iv-scheme-desc">Invested Amount - <span class="amount"> <%= investment.amount %> <%= investment.currency %></span></div>
                                </div>
                            
                                <div class="nk-iv-scheme-amount">
                                    <div class="nk-iv-scheme-amount-a nk-iv-scheme-order">
                                        <span class="nk-iv-scheme-label text-soft">Total Return</span>
                                        <span class="nk-iv-scheme-value amount"><%= investment.profit.total %> <%= investment.currency %></span>
                                    </div>
                                    
                                </div>
                                <div class="nk-iv-scheme-more">
                                    <a class="btn btn-icon btn-lg btn-round btn-trans" href=<%= "/plan-details?id=" + investment._id  %> ><em class="icon ni ni-forward-ios"></em></a>
                                </div>
                                <div class="nk-iv-scheme-progress">
                                    <div class="progress-bar" data-progress="25"></div>
                                </div>
                            </div>
                          <% }   %> 
                       
                    </div>
                  
                </div>  <% } %> 
            </div>
        </div>
    </div>
</div>

<%- include('footer', {website: data.website}) -%>