<%- include('header') -%>
    <section class="slider_wrap slider_fullwide slider_engine_revo slider_alias_home-1">

        <div class="rev_slider_wrapper fullscreen-container" id="rev_slider_1_1_wrapper">
            <div class="rev_slider fullscreenbanner" data-version="5.2.6" id="rev_slider_1_1">
                <ul>
                    <li data-description="" data-easein="default,default,default,default"
                        data-easeout="default,default,default,default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-index="rs-1"
                        data-masterspeed="default,default,default,default" data-param1="" data-param10="" data-param2=""
                        data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                        data-param9="" data-rotate="0,0,0,0" data-saveperformance="off"
                        data-slotamount="default,default,default,default" data-thumb="images/1920x1076-100x50.jpg"
                        data-title="Slide"
                        data-transition="slidingoverlayright,slidingoverlayleft,slidingoverlayup,slidingoverlaydown">
                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgposition="center center"
                            data-bgrepeat="no-repeat" data-no-retina="" height="1076" src="images/slider1.png"
                            title="1920x1076" width="1920">


                        <div class="tp-caption trx-big tp-resizeme" data-end="8700" data-height="['auto']"
                            data-hoffset="" data-responsive_offset="on" data-splitin="none" data-splitout="none"
                            data-start="900" data-transform_idle="o:1;"
                            data-transform_in="opacity:0;s:800;e:Power2.easeInOut;"
                            data-transform_out="opacity:0;s:600;" data-voffset="-40" data-width="['auto']"
                            data-x="center" data-y="center" id="slide-1-layer-1">
                            Trading & Investment.
                        </div>
                        <div class="tp-caption trx-norm tp-resizeme" data-end="8700" data-height="['auto']"
                            data-hoffset="" data-responsive_offset="on" data-splitin="none" data-splitout="none"
                            data-start="900" data-transform_idle="o:1;"
                            data-transform_in="opacity:0;s:800;e:Power2.easeInOut;"
                            data-transform_out="opacity:0;s:600;" data-visibility="['on','on','on','off']"
                            data-voffset="46" data-width="['auto']" data-x="center" data-y="center"
                            id="slide-1-layer-2">
                            Preparing your money is a daunting challenge for today's investors.<br> Will give
                            you a complete account of the system.
                        </div>

                        <div class="tp-caption trx-no-css tp-resizeme" data-end="8700" data-height="['auto']"
                            data-hoffset="" data-responsive_offset="on" data-splitin="none" data-splitout="none"
                            data-start="900" data-transform_idle="o:1;"
                            data-transform_in="opacity:0;s:800;e:Power2.easeInOut;"
                            data-transform_out="opacity:0;s:600;" data-visibility="['on','on','off','off']"
                            data-voffset="137" data-width="['auto']" data-x="center" data-y="center"
                            id="slide-1-layer-3">
                            <a class="sc_button sc_button_style_filled sc_button_size_medium" href="about-us.html">Read
                                more</a>&nbsp;&nbsp;<a
                                class="sc_button sc_button_style_filled2 sc_button_size_medium light_color"
                                href="our-services.html">Services</a>
                        </div>
                    </li>


                    <li data-description="" data-easein="default,default,default,default"
                        data-easeout="default,default,default,default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-index="rs-2"
                        data-masterspeed="default,default,default,default" data-param1="" data-param10="" data-param2=""
                        data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                        data-param9="" data-rotate="0,0,0,0" data-saveperformance="off"
                        data-slotamount="default,default,default,default" data-thumb="images/1920x1076-100x50.jpg"
                        data-title="Slide"
                        data-transition="slidingoverlayright,slidingoverlayleft,slidingoverlayup,slidingoverlaydown">
                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgposition="center center"
                            data-bgrepeat="no-repeat" data-no-retina="" height="1076" src="images/slider3.png"
                            title="1920x1076" width="1920">

                        <div class="tp-caption trx-big tp-resizeme" data-end="8700" data-height="['auto']"
                            data-hoffset="" data-responsive_offset="on" data-splitin="none" data-splitout="none"
                            data-start="900" data-transform_idle="o:1;"
                            data-transform_in="opacity:0;s:800;e:Power2.easeInOut;"
                            data-transform_out="opacity:0;s:600;" data-voffset="-40" data-width="['auto']"
                            data-x="center" data-y="center" id="slide-2-layer-1">
                            The Best Business Support
                        </div>

                        <div class="tp-caption trx-norm tp-resizeme" data-end="8700" data-height="['auto']"
                            data-hoffset="" data-responsive_offset="on" data-splitin="none" data-splitout="none"
                            data-start="900" data-transform_idle="o:1;"
                            data-transform_in="opacity:0;s:800;e:Power2.easeInOut;"
                            data-transform_out="opacity:0;s:600;" data-visibility="['on','on','on','off']"
                            data-voffset="46" data-width="['auto']" data-x="center" data-y="center"
                            id="slide-2-layer-2">
                            <br> <br>

                            Bitcoin is a new type of digital money and, just like with all money, <br> can store it,
                            exchange it, and make payments with it. <br> key to what makes Bitcoin different from
                            national currencies like the US Dollar, <br> Euro or the Japanese Yen lies in its
                            decentralized structure and opt-in model.
                        </div>

                        <div class="tp-caption trx-no-css tp-resizeme" data-end="8700" data-height="['auto']"
                            data-hoffset="" data-responsive_offset="on" data-splitin="none" data-splitout="none"
                            data-start="900" data-transform_idle="o:1;"
                            data-transform_in="opacity:0;s:800;e:Power2.easeInOut;"
                            data-transform_out="opacity:0;s:600;" data-visibility="['on','on','off','off']"
                            data-voffset="137" data-width="['auto']" data-x="center" data-y="center"
                            id="slide-2-layer-3">
                            <br> <br>
                            <br>
                            <br>
                            <a class="sc_button sc_button_style_filled sc_button_size_medium" href="about-us.html">Read
                                more</a>
                        </div>
                    </li>






                    <li data-description="" data-easein="default,default,default,default"
                        data-easeout="default,default,default,default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-index="rs-3"
                        data-masterspeed="default,default,default,default" data-param1="" data-param10="" data-param2=""
                        data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                        data-param9="" data-rotate="0,0,0,0" data-saveperformance="off"
                        data-slotamount="default,default,default,default" data-thumb="images/1920x1076-100x50.jpg"
                        data-title="Slide"
                        data-transition="slidingoverlayup,slidingoverlaydown,slidingoverlayright,slidingoverlayleft">
                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgposition="center center"
                            data-bgrepeat="no-repeat" data-no-retina="" height="1076" src="images/slider2.png"
                            title="1920x1076" width="1920">

                        <div class="tp-caption trx-big tp-resizeme" data-end="8700" data-height="['auto']"
                            data-hoffset="" data-responsive_offset="on" data-splitin="none" data-splitout="none"
                            data-start="900" data-transform_idle="o:1;"
                            data-transform_in="opacity:0;s:800;e:Power2.easeInOut;"
                            data-transform_out="opacity:0;s:600;" data-voffset="-40" data-width="['auto']"
                            data-x="center" data-y="center" id="slide-2-layer-1">
                            The Best Business Support
                        </div>

                        <div class="tp-caption trx-norm tp-resizeme" data-end="8700" data-height="['auto']"
                            data-hoffset="" data-responsive_offset="on" data-splitin="none" data-splitout="none"
                            data-start="900" data-transform_idle="o:1;"
                            data-transform_in="opacity:0;s:800;e:Power2.easeInOut;"
                            data-transform_out="opacity:0;s:600;" data-visibility="['on','on','on','off']"
                            data-voffset="46" data-width="['auto']" data-x="center" data-y="center"
                            id="slide-1-layer-2">
                            Bitcoin will become collateral asset on banking system for cash loan.<br>“Bitcoin is a
                            central study in the Political Economy of Global Security<br> as it influences Global
                            Governance.”
                        </div>

                        <div class="tp-caption trx-no-css tp-resizeme" data-end="8700" data-height="['auto']"
                            data-hoffset="" data-responsive_offset="on" data-splitin="none" data-splitout="none"
                            data-start="900" data-transform_idle="o:1;"
                            data-transform_in="opacity:0;s:800;e:Power2.easeInOut;"
                            data-transform_out="opacity:0;s:600;" data-visibility="['on','on','off','off']"
                            data-voffset="137" data-width="['auto']" data-x="center" data-y="center"
                            id="slide-1-layer-3">
                            <a class="sc_button sc_button_style_filled sc_button_size_medium" href="about-us.html">Read
                                more</a>&nbsp;&nbsp;<a
                                class="sc_button sc_button_style_filled2 sc_button_size_medium light_color"
                                href="our-services.html">Services</a>
                        </div>


                    </li>
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>

        <div class="page_content_wrap page_paddings_no">
            <div class="sc_section custom_bg_2">
                <div class="content_wrap">
                    <div class="sc_empty_space" data-height="2em"></div>
                    <div class="sc_services_wrap">
                        <div
                            class="sc_services sc_services_style_services-4 sc_services_type_icons_img margin_top_huge margin_bottom_huge">
                            <h2 class="sc_services_title sc_item_title">We Are Payfox...</h2>
                            <div class="sc_services_descr sc_item_descr">
                                We are PayfoxTrade, we trade, you receive a handsome cashback.<br>We take the best
                                risks and generate over 75% Return on Investment (ROI)
                            </div>
                            <div class="sc_columns columns_wrap">
                                <div class="column-1_3 column_padding_bottom">
                                    <div class="sc_services_item sc_services_item_1">
                                        <div class="top_post_image">
                                            <a href="#"><img alt="" class="services-post-image"
                                                    src="images/service_04.png"></a>
                                        </div>
                                        <div class="sc_services_item_content">
                                            <h4 class="sc_services_item_title"><a href="#">Market
                                                    Forecasting</a></h4><span
                                                class="sc_services_item_subtitle">Market-leading experience and
                                                services</span>
                                            <div class="sc_services_item_description">
                                                <p>Predict before you win. We make the best prediction with 95.5%
                                                    accuracy everytime</p>
                                            </div>
                                            <div class="sc_services_item_decoration"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-1_3 column_padding_bottom">
                                    <div class="sc_services_item sc_services_item_2">
                                        <div class="top_post_image">
                                            <a href="#"><img alt="" class="services-post-image"
                                                    src="images/service_05.png"></a>
                                        </div>
                                        <div class="sc_services_item_content">
                                            <h4 class="sc_services_item_title"><a href="#">Financial Modeling</a></h4>
                                            <span class="sc_services_item_subtitle">Market-leading experience and
                                                services</span>
                                            <div class="sc_services_item_description">
                                                <p>We use a tested and proven models for our market analysis and
                                                    investment decisions.
                                                </p>
                                            </div>
                                            <div class="sc_services_item_decoration"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-1_3 column_padding_bottom">
                                    <div class="sc_services_item sc_services_item_3">
                                        <div class="top_post_image">
                                            <a href="#"><img alt="" class="services-post-image"
                                                    src="images/service_06.png"></a>
                                        </div>
                                        <div class="sc_services_item_content">
                                            <h4 class="sc_services_item_title"><a href="#">Financial Analysis</a></h4>
                                            <span class="sc_services_item_subtitle">Market-leading experience and
                                                services</span>
                                            <div class="sc_services_item_description">
                                                <p>We provide the most up-to-date financial analysis. This helps us
                                                    generate the best ROI. </p>

                                            </div>
                                            <div class="sc_services_item_decoration"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sc_section custom_bg_1">
                <div class="content_wrap">
                    <div class="sc_services_wrap">
                        <div
                            class="sc_services sc_services_style_services-3 sc_services_type_images margin_top_huge margin_bottom_huge">
                            <h2 class="sc_services_title sc_item_title">Profitable Investments</h2>
                            <div class="sc_services_descr sc_item_descr">
                                PayfoxTrade is a team of market experts. Inspired by the returns of a profitable yet
                                risky financial market, we are set to help young investors understand the game, play it
                                safe, and cashback.

                                We help you go the miles, with a jump start you get ahead of your dreams and reap from a
                                fruitful market.

                                Our team is gaining huge popularity across the Forex and Crypto Markets.

                            </div>
                            <div class="sc_columns columns_wrap">
                                <div class="column-1_3 column_padding_bottom">
                                    <div class="sc_services_item sc_services_item_1">
                                        <div class="sc_services_item_featured post_featured">
                                            <div class="post_thumb">
                                                <a class="hover_icon hover_icon_link" href="our-services.html"><img
                                                        alt=""
                                                        src="https://images.unsplash.com/photo-1523875194681-bedd468c58bf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=751&amp;q=80"
                                                        width="370px"></a>
                                            </div>
                                            <div class="sc_services_item_count">
                                                01
                                            </div>
                                        </div>
                                        <div class="sc_services_item_content">
                                            <span class="sc_services_item_subtitle">We Are Best Team</span>
                                            <h4 class="sc_services_item_title"><a href="our-services.html">Make Business
                                                    Strategy</a></h4>
                                            <div class="sc_services_item_description">
                                                <p>Emerge as a pattern of activity as the organization adapts to its
                                                    environment</p>
                                            </div>
                                            <div class="sc_services_item_decoration"></div>
                                        </div>
                                    </div>
                                </div>


                                <div class="column-1_3 column_padding_bottom">
                                    <div class="sc_services_item sc_services_item_2">
                                        <div class="sc_services_item_featured post_featured">
                                            <div class="post_thumb">
                                                <a class="hover_icon hover_icon_link" href="our-services.html"><img
                                                        alt=""
                                                        src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80"
                                                        width="370px"></a>
                                            </div>
                                            <div class="sc_services_item_count">
                                                02
                                            </div>
                                        </div>
                                        <div class="sc_services_item_content">
                                            <span class="sc_services_item_subtitle">The Best Corporate Company</span>
                                            <h4 class="sc_services_item_title"><a href="our-services.html">Company of
                                                    Professionals</a></h4>
                                            <div class="sc_services_item_description">
                                                <p>Certified specialists provide all types of financial, business &#038;
                                                    customer support services</p>
                                            </div>
                                            <div class="sc_services_item_decoration"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-1_3 column_padding_bottom">
                                    <div class="sc_services_item sc_services_item_3">
                                        <div class="sc_services_item_featured post_featured">
                                            <div class="post_thumb">
                                                <a class="hover_icon hover_icon_link" href="our-services.html"><img
                                                        alt=""
                                                        src="https://images.unsplash.com/photo-1562071707-7249ab429b2a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80"
                                                        width="370px"></a>
                                            </div>
                                            <div class="sc_services_item_count">
                                                03
                                            </div>
                                        </div>
                                        <div class="sc_services_item_content">
                                            <span class="sc_services_item_subtitle">Always Forvard</span>
                                            <h4 class="sc_services_item_title"><a href="our-services.html">We Love Our
                                                    Clients</a></h4>
                                            <div class="sc_services_item_description">
                                                <p>A wide range of customer services to assist in making cost effective
                                                    use of a product</p>
                                            </div>
                                            <div class="sc_services_item_decoration"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                @media (max-width: 479px) {

                    input.sc_button_size_large[type="submit"],
                    input.sc_button_size_large[type="button"],
                    button.sc_button_size_large,
                    .sc_button.sc_button_size_large {
                        font-size: 1em;
                        padding: 0;
                    }
                }
            </style>
            <div class="sc_section">
                <div class="columns_wrap sc_columns no_margins" data-equal-height=".sc_column_item_inner">
                    <div class="column-1_2 sc_column_item text_align_center">
                        <div class="sc_column_item_inner" id="video_player"
                            style="background-image: url(https://images.unsplash.com/photo-1558401549-29b4893f4d9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=742&amp;q=80);">
                            <div class="sc_popup mfp-with-anim mfp-hide" id="video_go">
                                <div class="sc_video_player">
                                    <div class="sc_video_frame" data-height="659" data-width="1170">
                                        <iframe src="https://www.youtube.com/embed/fAmdC64KKdM"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="sc_section extra_vertical_align aligncenter">
                                <div class="sc_section_inner">
                                    <div class="sc_section_content_wrap">
                                        <a class="sc_button sc_button_style_icon sc_button_size_large sc_button_iconed sc_popup_link demo_go margin_bottom_tiny- icon-play"
                                            href="#video_go"></a>
                                        <div class="sc_services_wrap scheme_dark">
                                            <div
                                                class="sc_services sc_services_style_services-2 sc_services_type_icons margin_top_tiny-">
                                                <div class="sc_services_item">
                                                    <div class="sc_services_item_featured post_featured"></div>
                                                    <div class="sc_services_item_content">
                                                        <h4 class="sc_services_item_title">How to Buy Bitcoin</h4><span
                                                            class="sc_services_item_subtitle">We Love Or Clients</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-1_2 sc_column_item">
                        <div class="sc_column_item_inner custom_bg_2">
                            <div class="sc_section margin_top_huge margin_bottom_huge aligncenter"
                                data-animation="animated fadeIn normal">
                                <div class="sc_section_inner">
                                    <div class="sc_section_content_wrap">
                                        <div class="sc_empty_space" data-height="3px"></div>
                                        <h2
                                            class="sc_title sc_title_regular text_align_center custom_cl_7 margin_top_medium margin_bottom_tiny-">
                                            We are always ahead</h2>
                                        <div class="sc_skills sc_skills_counter margin_top_tiny margin_bottom_medium"
                                            data-caption="Skills" data-type="counter">
                                            <h2 class="sc_skills_title sc_item_title">Proffesional solutions for your
                                                business.</h2>
                                            <div class="sc_skills_descr sc_item_descr">
                                                We provide premium customer support and offer affiliate programs.
                                            </div>
                                            <div class="columns_wrap sc_skills_columns">
                                                <div class="sc_skills_column column-1_3">
                                                    <div class="sc_skills_item sc_skills_style_2">
                                                        <div class="sc_skills_count">
                                                            <div class="sc_skills_total" data-duration="1046" data-ed=""
                                                                data-max="50" data-speed="11" data-start="0"
                                                                data-step="9" data-stop="90">K+
                                                                0
                                                            </div>
                                                        </div>
                                                        <div class="sc_skills_info">
                                                            <div class="sc_skills_label">
                                                                Satisfied Clients
                                                            </div>
                                                        </div>
                                                        <div class="sc_skills_info_2">
                                                            <div class="sc_skills_label">
                                                                Market-leading experience
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sc_skills_column column-1_3">
                                                    <div class="sc_skills_item sc_skills_style_2">
                                                        <div class="sc_skills_count">
                                                            <div class="sc_skills_total" data-duration="450" data-ed=""
                                                                data-max="856" data-speed="17" data-start="0"
                                                                data-step="9" data-stop="60">k+
                                                                0
                                                            </div>
                                                        </div>
                                                        <div class="sc_skills_info">
                                                            <div class="sc_skills_label">
                                                                Successful Investments
                                                            </div>
                                                        </div>
                                                        <div class="sc_skills_info_2">
                                                            <div class="sc_skills_label">
                                                                Market-leading experience
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sc_skills_column column-1_3">
                                                    <div class="sc_skills_item sc_skills_style_2">
                                                        <div class="sc_skills_count">
                                                            <div class="sc_skills_total" data-duration="947" data-ed=""
                                                                data-max="856" data-speed="25" data-start="0"
                                                                data-step="9" data-stop="30">K+
                                                                0
                                                            </div>
                                                        </div>
                                                        <div class="sc_skills_info">
                                                            <div class="sc_skills_label">
                                                                SGS Clients
                                                            </div>
                                                        </div>
                                                        <div class="sc_skills_info_2">
                                                            <div class="sc_skills_label">
                                                                Market-leading experience
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sc_empty_space" data-height="3px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sc_section custom_section_1">
                <div class="columns_wrap no_margins custom_bg_1">
                    <div class="column-1_4">
                        <div class="sc_empty_space" data-height="35px"></div>
                        <div
                            class="sc_section margin_top_small margin_right_small margin_bottom_large margin_left_small aligncenter">
                            <div class="sc_section_inner">
                                <div class="sc_section_content_wrap">
                                    <div class="sc_empty_space" data-height="0.5em"></div>
                                    <figure class="sc_image sc_image_shape_square">
                                        <img alt="" src="images/colored_service_1.png">
                                    </figure>
                                    <div class="sc_empty_space" data-height="0.7em"></div>
                                    <h4 class="sc_title sc_title_regular margin_top_tiny margin_bottom_tiny">Investment
                                        Banking</h4>
                                    <h6 class="sc_custom_heading style_1 custom_cl_5">Strategy, Initail Publiuc
                                        Offerings</h6><span class="custom_cl_6">We help individuals, organizations and
                                        government agencies make the best investment decisions.</span>
                                    <div class="sc_empty_space" data-height="1.1em"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-1_4 custom_bg_3">
                        <div class="sc_empty_space" data-height="35px"></div>
                        <div
                            class="sc_section margin_top_small margin_right_small margin_bottom_large margin_left_small aligncenter">
                            <div class="sc_section_inner">
                                <div class="sc_section_content_wrap">
                                    <div class="sc_empty_space" data-height="0.5em"></div>
                                    <figure class="sc_image sc_image_shape_square">
                                        <img alt="" src="images/colored_service_2.png">
                                    </figure>
                                    <div class="sc_empty_space" data-height="0.7em"></div>
                                    <h4
                                        class="sc_title sc_title_regular margin_top_tiny margin_bottom_tiny custom_cl_4">
                                        Sales &amp; Trading</h4>
                                    <h6 class="sc_custom_heading style_1 custom_cl_4">Disciline and Commitment</h6><span
                                        class="custom_cl_4">Hands off. We can do it for you. If you are not sure which
                                        way to go, allow us to do it.</span>
                                    <div class="sc_empty_space" data-height="1.1em"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-1_4 custom_bg_4">
                        <div class="sc_empty_space" data-height="35px"></div>
                        <div
                            class="sc_section margin_top_small margin_right_small margin_bottom_large margin_left_small aligncenter">
                            <div class="sc_section_inner">
                                <div class="sc_section_content_wrap">
                                    <div class="sc_empty_space" data-height="0.5em"></div>
                                    <figure class="sc_image sc_image_shape_square">
                                        <img alt="" src="images/colored_service_3.png">
                                    </figure>
                                    <div class="sc_empty_space" data-height="0.7em"></div>
                                    <h4
                                        class="sc_title sc_title_regular margin_top_tiny margin_bottom_tiny custom_cl_4">
                                        Investment Management</h4>
                                    <h6 class="sc_custom_heading style_1 custom_cl_5">Trading Portfolio</h6>
                                    <span class="custom_cl_6">We handle financial assets and trade portfolio while
                                        helping you execute a long term strategy.</span>
                                    <div class="sc_empty_space" data-height="1.1em"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-1_4 custom_bg_5">
                        <div class="sc_empty_space" data-height="35px"></div>
                        <div
                            class="sc_section margin_top_small margin_right_small margin_bottom_large margin_left_small aligncenter">
                            <div class="sc_section_inner">
                                <div class="sc_section_content_wrap">
                                    <div class="sc_empty_space" data-height="0.5em"></div>
                                    <figure class="sc_image sc_image_shape_square">
                                        <img alt="" src="images/colored_service_4.png">
                                    </figure>
                                    <div class="sc_empty_space" data-height="0.7em"></div>
                                    <h4
                                        class="sc_title sc_title_regular margin_top_tiny margin_bottom_tiny custom_cl_4">
                                        Market Research</h4>
                                    <h6 class="sc_custom_heading style_1 custom_cl_5">Research and Techniques</h6><span
                                        class="custom_cl_6">Our market analysis is a product of combined research
                                        techniques and a comprehensive approach.</span>
                                    <div class="sc_empty_space" data-height="1.1em"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sc_section custom_section_2" style="padding: 10px 5vw;">
                <div class="sc_empty_space" data-height="35px"></div>
                <h2 class="sc_testimonials_title sc_item_title">Plans</h2>
                <div class="sc_services_descr sc_item_descr">
                    Economic services provided by the finance industry, which encompasses a broad<br> range of
                    businesses that manage money, including credit unions.
                </div>
                <div class="columns_wrap">
                    <div class="plan column-1_3 color-4 four columns">
                        <div class="plan-price">
                            <h3>Starter</h3> <span class="plan-currency">%</span> <span class="value">10%</span>
                            <span class="period">After 24 Hours</span>
                        </div>
                        <div class="plan-features">
                            <ul class="sc_list sc_list_style_iconed" style="padding: 10px;">
                                <li class="sc_list_item"><span class="sc_list_icon icon-ok"></span>Min Investment:
                                    $100</li>
                                <li class="sc_list_item"><span class="sc_list_icon icon-ok"></span>Max. Investment:
                                    $299</li>
                                <li class="sc_list_item"><span class="sc_list_icon icon-ok"></span>ROI after 24 Hours
                                </li>
                                <li class="sc_list_item"><span class="sc_list_icon icon-ok"></span>10% Referral
                                    Bonus</li>
                                <li class="sc_list_item"><span class="sc_list_icon icon-ok"></span>24/7 Customer
                                    Care</li>
                            </ul> <a class="button" href=<%=user_dashboard_url %>>Invest</a>
                        </div>
                    </div>
                    <div class="plan column-1_3 color-3 four columns">
                        <div class="plan-price">
                            <h3>Super</h3> <span class="plan-currency">%</span> <span class="value">20%</span>
                            <span class="period">After 2 Days</span>
                        </div>
                        <div class="plan-features">
                            <ul class="sc_list sc_list_style_iconed" style="padding: 10px;">
                                <li class="sc_list_item"><span class="sc_list_icon icon-ok"></span>Min Investment:
                                    $300</li>
                                <li class="sc_list_item"><span class="sc_list_icon icon-ok"></span>Max. Investment:
                                    $499</li>
                                <li class="sc_list_item"><span class="sc_list_icon icon-ok"></span>ROI after 2 Days
                                </li>
                                <li class="sc_list_item"><span class="sc_list_icon icon-ok"></span>10% Referral
                                    Bonus</li>
                                <li class="sc_list_item"><span class="sc_list_icon icon-ok"></span>24/7 Customer
                                    Care</li>
                            </ul> <a class="button" href=<%=user_dashboard_url %>>Invest</a>
                        </div>
                    </div>
                    <div class="plan column-1_3 color-2 four columns">
                        <div class="plan-price">
                            <h3>Ultimate</h3> <span class="plan-currency">%</span> <span class="value">30%</span>
                            <span class="period">After 3 Days</span>
                        </div>
                        <div class="plan-features">
                            <ul class="sc_list sc_list_style_iconed" style="padding: 10px;">
                                <li class="sc_list_item"><span class="sc_list_icon icon-ok"></span>Min Investment:
                                    $500</li>
                                <li class="sc_list_item"><span class="sc_list_icon icon-ok"></span>Max. Investment:
                                    $0.00</li>
                                <li class="sc_list_item"><span class="sc_list_icon icon-ok"></span>ROI after 3 Days
                                </li>
                                <li class="sc_list_item"><span class="sc_list_icon icon-ok"></span>10% Referral
                                    Bonus</li>
                                <li class="sc_list_item"><span class="sc_list_icon icon-ok"></span>24/7 Customer
                                    Care</li>
                            </ul> <a class="button" href=<%=user_dashboard_url %>>Invest</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" sc_section custom_bg_2">
                <div class="sc_empty_space" data-height="2em"></div>
                <div
                    class="sc_testimonials sc_testimonials_style_testimonials-1 margin_top_huge margin_bottom_huge aligncenter">
                    <h2 class="sc_testimonials_title sc_item_title">Testimonials</h2>
                    <div class="sc_testimonials_descr sc_item_descr">
                        Testimonials from customers who are satisfied with services that have been
                        effectively<br>
                        used in marketing for as long as marketing exists.
                    </div>
                    <div class="sc_slider_swiper swiper-slider-container sc_slider_pagination sc_slider_pagination_bottom sc_slider_nocontrols"
                        data-interval="7440" data-slides-min-width="250" data-slides-per-view="3">
                        <div class="slides swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="sc_testimonial_item">
                                    <div class="sc_testimonial_avatar"><img alt="" src="images/DIRECTOR.jpeg"></div>
                                    <div class="sc_testimonial_content">
                                        <p>Being a company's director requires maximum attention and
                                            devotion. This
                                            was exactly what I felt when turned to your products and
                                            services. All
                                            our questions and inquiries were answered effectively and
                                            right
                                            away. Our website has never looked better, ever. Thank you.
                                        </p>
                                    </div>
                                    <div class="sc_testimonial_author">
                                        <span class="sc_testimonial_author_name">Dave Weisberger</span>
                                        <span class="sc_testimonial_author_position">Company
                                            Director</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="sc_testimonial_item">
                                    <div class="sc_testimonial_avatar"><img alt="" src="images/AMMM.jpeg"></div>
                                    <div class="sc_testimonial_content">
                                        <p>You never know what is gooing to happen until you try. But
                                            let me tell
                                            you that taking risk with these guys was totally worth it.
                                            Now we are a
                                            regular client, and this was probably the best decision we
                                            ever
                                            made! Our company appreciates your assistance and great
                                            work!</p>
                                    </div>
                                    <div class="sc_testimonial_author">
                                        <span class="sc_testimonial_author_name">Akshi Federici</span>
                                        <span class="sc_testimonial_author_position">Venture
                                            Partner</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="sc_testimonial_item">
                                    <div class="sc_testimonial_avatar"><img alt="" src="images/AMP.jpeg"></div>
                                    <div class="sc_testimonial_content">
                                        <p>Highly recommend these guys to everyone who is in search of
                                            fresh ideas,
                                            quality products and excellent customer support. You will be
                                            able to
                                            find what you need and more right here with no hassle.
                                            Thanks for
                                            your time and efford toward our project. We will stay in
                                            touch!</p>
                                    </div>
                                    <div class="sc_testimonial_author">
                                        <span class="sc_testimonial_author_name">Akash Khosla</span>
                                        <span class="sc_testimonial_author_position">Startup SEO</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="sc_testimonial_item">
                                    <div class="sc_testimonial_avatar"><img alt="" src="images/AMM.jpeg"></div>
                                    <div class="sc_testimonial_content">
                                        <p>I enjoyed working with you guys very much! No matter what
                                            issues or
                                            questions popped up, you were always there to assist. I
                                            appreciate your
                                            service, quality products and professional approach in every
                                            aspect.
                                            Keep up the excellent job and let us know what comes next!
                                        </p>
                                    </div>
                                    <div class="sc_testimonial_author">
                                        <span class="sc_testimonial_author_name">Andrew
                                            Durgee</span><span class="sc_testimonial_author_position">Republic
                                            Crypto</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc_slider_controls_wrap">
                            <a class="sc_slider_prev" href="#"></a>
                            <a class="sc_slider_next" href="#"></a>
                        </div>
                        <div class="sc_slider_pagination_wrap"></div>
                    </div>
                </div>
                <div class="sc_empty_space" data-height="2em"></div>
            </div>
            <div class="sc_section custom_bg_1 custom_section_2">
                <div class="columns_wrap sc_columns no_margins" style="background: rgb(33 72 129); color: white;">
                    <div class="column-1_4 sc_column_item" style="position: relative;">
                        <div class="sc_empty_space extra_class_margin" data-height="4em" style="height: 4em;"></div>
                        <div
                            class="sc_section margin_top_huge margin_right_small margin_bottom_medium margin_left_small">
                            <br><br><br>
                            <div class="sc_section_inner">
                                <h2 class="sc_section_title sc_item_title" style="color: white;">Our Gallery
                                </h2>
                                <div class="sc_section_descr sc_item_descr" style="color: white;">
                                    View some of the most successful projects and more by our specialists
                                    presented in
                                    this gallery.
                                </div>
                                <div class="sc_section_content_wrap"></div>
                                <div class="sc_section_button sc_item_button">
                                    <a class="sc_button sc_button_style_filled sc_button_size_small"
                                        style="color: white !important;" href="indexprojects-grid/index.html">View All
                                        Works</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-3_4 sc_column_item">
                        <article class="myportfolio-container minimal-light">
                            <div class="esg-grid" id="esg-grid-1-1">
                                <ul>
                                    <li class="eg-home-wrapper">
                                        <div class="esg-media-cover-wrapper">
                                            <div class="esg-entry-media"><img alt="" src="images/TEAM-Y.png">
                                            </div>
                                            <div class="esg-entry-cover esg-fade">
                                                <div class="esg-overlay esg-fade eg-home-container"></div>
                                                <div class="esg-center eg-home-element-3-a esg-flipup" data-delay="0.1">
                                                    <a class="eg-home-element-3" href="#" target="_self">Finance
                                                        Consulting</a>
                                                </div>
                                                <div class="esg-center eg-home-element-9"></div>
                                                <div class="esg-center eg-home-element-10-a esg-flipup"
                                                    data-delay="0.1">
                                                    <a class="eg-home-element-10" href="#">Our
                                                        Gallery</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="eg-home-wrapper">
                                        <div class="esg-media-cover-wrapper">
                                            <div class="esg-entry-media"><img alt="" src="images/TEA-WOMAN.jpg">
                                            </div>
                                            <div class="esg-entry-cover esg-fade">
                                                <div class="esg-overlay esg-fade eg-home-container"></div>
                                                <div class="esg-center eg-home-element-3-a esg-flipup" data-delay="0.1">
                                                    <a class="eg-home-element-3" href="#" target="_self">Simple
                                                        Solutions</a>
                                                </div>
                                                <div class="esg-center eg-home-element-9"></div>
                                                <div class="esg-center eg-home-element-10-a esg-flipup"
                                                    data-delay="0.1">
                                                    <a class="eg-home-element-10" href="#">Our
                                                        Gallery</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="eg-home-wrapper">
                                        <div class="esg-media-cover-wrapper">
                                            <div class="esg-entry-media"><img alt="" src="images/TEAM-Z.jpg">
                                            </div>
                                            <div class="esg-entry-cover esg-fade">
                                                <div class="esg-overlay esg-fade eg-home-container"></div>
                                                <div class="esg-center eg-home-element-3-a esg-flipup" data-delay="0.1">
                                                    <a class="eg-home-element-3" href="#" target="_self">Effective
                                                        Assistance</a>
                                                </div>
                                                <div class="esg-center eg-home-element-9"></div>
                                                <div class="esg-center eg-home-element-10-a esg-flipup"
                                                    data-delay="0.1">
                                                    <a class="eg-home-element-10" href="#">Our
                                                        Gallery</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="eg-home-wrapper">
                                        <div class="esg-media-cover-wrapper">
                                            <div class="esg-entry-media"><img alt="" src="images/TEAM-X.jpeg">
                                            </div>
                                            <div class="esg-entry-cover esg-fade">
                                                <div class="esg-overlay esg-fade eg-home-container"></div>
                                                <div class="esg-center eg-home-element-3-a esg-flipup" data-delay="0.1">
                                                    <a class="eg-home-element-3" href="#" target="_self">Stock Market
                                                        Updates</a>
                                                </div>
                                                <div class="esg-center eg-home-element-9"></div>
                                                <div class="esg-center eg-home-element-10-a esg-flipup"
                                                    data-delay="0.1">
                                                    <a class="eg-home-element-10" href="#">Our
                                                        Gallery</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="eg-home-wrapper">
                                        <div class="esg-media-cover-wrapper">
                                            <div class="esg-entry-media"><img alt=""
                                                    src="images/retrospective-with-happiness-for-teams-and-project-management-bot-to-run-automatic-retrospectives.jpg">
                                            </div>
                                            <div class="esg-entry-cover esg-fade">
                                                <div class="esg-overlay esg-fade eg-home-container"></div>
                                                <div class="esg-center eg-home-element-3-a esg-flipup" data-delay="0.1">
                                                    <a class="eg-home-element-3" href="#" target="_self">Simple
                                                        Solutions</a>
                                                </div>
                                                <div class="esg-center eg-home-element-9"></div>
                                                <div class="esg-center eg-home-element-10-a esg-flipup"
                                                    data-delay="0.1">
                                                    <a class="eg-home-element-10" href="#">Our
                                                        Gallery</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="eg-home-wrapper">
                                        <div class="esg-media-cover-wrapper">
                                            <div class="esg-entry-media"><img alt="" src="images/TEAM-HAPPY.webp">
                                            </div>
                                            <div class="esg-entry-cover esg-fade">
                                                <div class="esg-overlay esg-fade eg-home-container"></div>
                                                <div class="esg-center eg-home-element-3-a esg-flipup" data-delay="0.1">
                                                    <a class="eg-home-element-3" href="#" target="_self">Investment
                                                        Advice</a>
                                                </div>
                                                <div class="esg-center eg-home-element-9"></div>
                                                <div class="esg-center eg-home-element-10-a esg-flipup"
                                                    data-delay="0.1">
                                                    <a class="eg-home-element-10" href="#">Our
                                                        Gallery</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <article class="esg-filters esg-singlefilters esg-navbutton-solo-left">
                                    <div class="esg-navigationbutton esg-left esg-fgc-1">
                                        <i class="eg-icon-left-open"></i>
                                    </div>
                                </article>
                                <article class="esg-filters esg-singlefilters esg-navbutton-solo-right">
                                    <div class="esg-navigationbutton esg-right esg-fgc-1">
                                        <i class="eg-icon-right-open"></i>
                                    </div>
                                </article>
                            </div>
                        </article>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="sc_section custom_bg_2">
                <div class="content_wrap">
                    <div class="sc_empty_space" data-height="2em"></div>
                    <div class="sc_team_wrap">
                        <div class="sc_team sc_team_style_team-3 margin_top_huge margin_bottom_large aligncenter">
                            <h2 class="sc_team_title sc_item_title">Our Staff</h2>
                            <div class="sc_team_descr sc_item_descr">
                                We work to make your business start effectively working for you.<br> Meet
                                the financial
                                and marketing specialists.
                            </div>

                            <div class="sc_columns columns_wrap">
                                <div class="column-1_3 column_padding_bottom">
                                    <div class="sc_team_item">
                                        <div class="sc_team_item_avatar">



                                            <img id="" alt="" src="images/arab-btc.jpg">



                                            <div class="sc_team_item_hover">
                                                <div class="sc_team_item_socials">
                                                    <div
                                                        class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                                                        <div class="sc_socials_item">
                                                            <a class="social_icons social_facebook" href="#"
                                                                target="_blank"><span class="icon-facebook"></span></a>
                                                        </div>
                                                        <div class="sc_socials_item">
                                                            <a class="social_icons social_gplus" href="#"
                                                                target="_blank"><span class="icon-gplus"></span></a>
                                                        </div>
                                                        <div class="sc_socials_item">
                                                            <a class="social_icons social_linkedin" href="#"
                                                                target="_blank"><span class="icon-linkedin"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sc_team_item_info">
                                            <h5 class="sc_team_item_title"><a href="#">Mohamed Benjamin</a>
                                            </h5>
                                            <div class="sc_team_item_position">
                                                Marketing & Advertising
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-1_3 column_padding_bottom">
                                    <div class="sc_team_item">
                                        <div class="sc_team_item_avatar">
                                            <img alt="" class="imz-finance" src="images/mode2.jpg">
                                            <div class="sc_team_item_hover">
                                                <div class="sc_team_item_socials">
                                                    <div
                                                        class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                                                        <div class="sc_socials_item">
                                                            <a class="social_icons social_facebook" href="#"
                                                                target="_blank"><span class="icon-facebook"></span></a>
                                                        </div>
                                                        <div class="sc_socials_item">
                                                            <a class="social_icons social_twitter" href="#"
                                                                target="_blank"><span class="icon-twitter"></span></a>
                                                        </div>
                                                        <div class="sc_socials_item">
                                                            <a class="social_icons social_gplus" href="#"
                                                                target="_blank"><span class="icon-gplus"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sc_team_item_info">
                                            <h5 class="sc_team_item_title"><a href="#">Michael King</a></h5>
                                            <div class="sc_team_item_position">
                                                Finance & Commerce
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-1_3 column_padding_bottom">
                                    <div class="sc_team_item">
                                        <div class="sc_team_item_avatar">
                                            <img alt="" src="images/TEA-WOMAN.jpg">
                                            <div class="sc_team_item_hover">
                                                <div class="sc_team_item_socials">
                                                    <div
                                                        class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                                                        <div class="sc_socials_item">
                                                            <a class="social_icons social_twitter" href="#"
                                                                target="_blank"><span class="icon-twitter"></span></a>
                                                        </div>
                                                        <div class="sc_socials_item">
                                                            <a class="social_icons social_gplus" href="#"
                                                                target="_blank"><span class="icon-gplus"></span></a>
                                                        </div>
                                                        <div class="sc_socials_item">
                                                            <a class="social_icons social_linkedin" href="#"
                                                                target="_blank"><span class="icon-linkedin"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sc_team_item_info">
                                            <h5 class="sc_team_item_title"><a href="#">Catherine
                                                    Atterbury</a></h5>
                                            <div class="sc_team_item_position">
                                                Company Director
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          




            <!-- </.page_content_wrap> -->

            <%- include('footer') -%>